<form class="signup-form signup-form--normal">
  <div class="signup-form-state signup-form-state--normal">
    <p class="signup-form__error">Oops! Something seems to have gone wrong.<br><br>Could you please try again?</p>
    <input class="email" type="email" name="email" placeholder="Email address..." required>
    <input class="submit" type="submit" value="I'm in!">
  </div>

  <div class="signup-form-state signup-form-state--signed-up">
    <p class="signup-form__success">You're all set. Thank you for signing up!</p>
  </div>

  <div class="signup-form-state signup-form-state--already-signed-up">
    <p class="signup-form__success">Oh, you're already signed up. Please <a href="mailto:team@isloojs.com">contact us</a> if there's anything.</p>
  </div>
</form>
