<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href='https://fonts.googleapis.com/css?family=Poppins:400,700' rel='stylesheet' type='text/css'>
    <title>Sign up</title>
    <style>
     @media only screen and (max-width: 640px) {
       body {
         padding: 0 !important;
       }

       .container {
         padding: 0 !important;
         width: 100% !important;
       }

       .content {
         padding: 0 !important;
       }

       .content-wrap {
         padding: 10px !important;
       }
     }
    </style>
  </head>

  <body itemscope itemtype="http://schema.org/EmailMessage">

    <table class="body-wrap">
	    <tr>
		    <td></td>
		    <td class="container" width="600">
			    <div class="content">
				    <table class="main" width="100%" cellpadding="0" cellspacing="0" itemprop="action" itemscope itemtype="http://schema.org/ConfirmAction">
					    <tr>
						    <td class="content-wrap">
							    <meta itemprop="name" content="Confirm Email"/>
							    <table width="100%" cellpadding="0" cellspacing="0">
                    <tr>
                      <td class="content-block title-block">
                        <h1 class="site-title">islamabad.js</h1>
                        <h2 class="site-sub-title">A Casual Dev Meetup in Islamabad</h2>
                      </td>
                    </tr>

								    <tr>
									    <td class="content-block">
                        Thank you for signing up for islamabad.js
									    </td>
								    </tr>

								    <tr>
									    <td class="content-block">
                        We'll make sure to include you when preparing food. :)
									    </td>
                    </tr>

                    <tr>
                      <td class="content-block">
                        Hit us up if there's anything: <strong>{{ phoneNumber }}</strong>
                      </td>
                    </tr>

								    <tr>
									    <td class="content-block">
                        Talks to look forward to:
                        <ul>
                          <li>Essence of Functional Programming</li>
                          <li>Introduction to Elixir</li>
                          <li>Managing Application State with Redux</li>
                        </ul>
                        <a href="http://isloojs.com">Find out more about these talks</a>
                      </td>
								    </tr>

                    <tr>
                      <td class="content-block">
                        Look forward to seeing you on:<br><br>
                        <strong>Saturday 27 February, 2016</strong><br>
                        <strong>4PM &mdash; 6PM</strong>
                      </td>
                    </tr>

                    <tr>
                      <td class="content-block">
                        <a href="https://maps.google.com/maps?ll=33.707556,73.14308&z=16&t=m&hl=en-US&gl=US&mapclient=embed&q=Palm%20St%20Bani%20Gala%20Pakistan">
                          <img src="https://gallery.mailchimp.com/b62ef1e13a31bd34f886904ea/images/ccad9007-c047-4dbf-ad3f-0b9f57965475.png">
                        </a>
                      </td>
                    </tr>

                    <tr>
                      <td class="content-block">
                        <strong>4, Palm Street, AQ Khan Road, Bani Gala, Islamabad</strong>
                      </td>
                    </tr>

								    <tr>
									    <td class="content-block">
										    &mdash; islamabad.js team
									    </td>
								    </tr>
							    </table>
						    </td>
					    </tr>
				    </table>
				    <div class="footer">
					    <table width="100%">
						    <tr>
							    <td class="aligncenter content-block">Follow <a href="http://twitter.com/">islamabad.js</a> on Twitter.</td>
						    </tr>
					    </table>
				    </div></div>
		    </td>
		    <td></td>
	    </tr>
    </table>

  </body>
</html>
