///* Breakpoints */

$breakpoints: (
  small: 480px + 1px,
  medium: 640px + 1px
);

@mixin min-width($min-width: null, $alias: null) {
  @if $alias {
    @each $breakpoint, $width in $breakpoints {
      @if $breakpoint == $alias {
        @media only screen and (min-width: $width) { @content; }
      }
    }
  } @else if $min-width {
    @media only screen and (min-width: $min-width) { @content; }
  }
}