.talks {
  margin-top: 3em;

  @include min-width($alias: medium) {
    margin-top: 6em;
  }
}

.talk {
  padding: 1.5em;
  margin: 1em 0;

  border: $default-border;
  border-radius: 8px;

  background: $color-white-3;

  @include min-width($alias: small) {
    padding: 2em;
    margin-bottom: 2em;
  }

  @include min-width($alias: medium) {
    padding: 4em;
    margin-bottom: 4em;
  }
}

.talk__title {
  margin-top: 0;

  font-size: $font-size-delta;
  line-height: 1.6;

  @include min-width($alias: medium) {
    font-size: $font-size-gamma-large;

    margin-bottom: 0.25em;
  }
}

.talk__by {
  display: block;

  font-size: 1em;

  margin-bottom: 2em;
}

.talk__actions-form {
  border-top: 1px dotted $color-gray-2;
  padding-top: 1em;

  @include min-width($alias: medium) {
    padding-top: 2em;
  }
}

input[type="submit"].talk__action-vote-submit {
  font-size: 0.75em;

  @include min-width($alias: medium) {
    font-size: 1em;
  }
}

.talk__action {
  font-size: 0.875em;
  font-weight: 400;

  margin-bottom: 0.5em;

  display: block;

  @include min-width($alias: medium) {
    font-size: 1.25em;
  }

  input[type="radio"] {
    margin-right: 1em;
  }
}
