/* type-scale.com */

p {
  margin-bottom: 1.3em;

  &:last-child {
    margin-bottom: 0;
  }

  @include min-width($alias: medium) {
    font-size: 1.5em;
  }
}

strong { font-weight: 600; }

h1, h2, h3, h4 {
  font-family: $font-primary;
  font-weight: 600;

  margin: 1.414em 0 0.5em;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: $font-size-alpha;

  @include min-width($alias: small) {
    font-size: $font-size-alpha-large;
  }

  @include min-width($alias: medium) {
    font-size: $font-size-alpha-vlarge;
  }
}

h2 {
  font-size: $font-size-beta;

  @include min-width($alias: small) {
    font-size: $font-size-beta-large;
  }

  @include min-width($alias: medium) {
    font-size: $font-size-beta-vlarge;
  }
}

h3 {
  font-size: $font-size-gamma;

  @include min-width($alias: small) {
    font-size: $font-size-gamma-large;
  }

  @include min-width($alias: medium) {
    font-size: $font-size-gamma-vlarge;
  }
}

h4 {
  font-size: $font-size-delta;

  @include min-width($alias: small) {
    font-size: $font-size-delta-large;
  }

  @include min-width($alias: medium) {
    font-size: $font-size-delta-vlarge;
  }
}

small, .font_small {font-size: 0.707em;}