<!DOCTYPE html>
<html>
  <head>
    <title>islamabad.js - 27, February 2016</title>

    <link rel="stylesheet" href="/styles/css/main.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Anonymous+Pro:400,700' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:image" content="http://isloojs.com/share.jpg">
  </head>

  <body>
    <div id="page">{{{ @body }}}</div>

    <script type="text/javascript" src="{{ scriptSrc }}"></script>
  </body>
</html>
