.page-section--signup {
  
}

.signup-form {
  max-width: 320px;
  margin: auto;

  @include min-width($alias: medium) {
    max-width: 500px;
  }

  input[type="text"] {
    width: 100%;

    @include min-width($alias: medium) {
      font-size: 1.5em;

      margin: 1em 0;
    }
  }
}