input[type="text"],
input[type="email"],
input[type="phone"] {
  -webkit-appearance: none;

  background: white;

  font: inherit;
  padding: 0.5em 1em;

  border: $default-border;
  border-radius: $border-radius;
}

input[type="submit"],
button,
.btn {
  -webkit-appearance: none;

  display: inline-block;
  text-decoration: none;

  border: none;
  padding: 0.5em 2em;

  border-radius: 5px;

  background: $color-black;
  color: $color-white;

  font-family: $font-primary;
  font-weight: 600;

  font-size: 1em;

  margin-top: 1em;

  @include min-width($alias: medium) {
    font-size: 1.2em;
  }
}